body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    display: flex;
}

.header {
    justify-content: space-around;
}

.intro, .footer {
    background-color: #1F2937;
}

.logo, .main {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.main {
    font-size: 48px;
    font-weight: 900;
}